body{
    overflow-x: hidden;
}

#first-container{
    background-image: url("/image/stepbg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vw;
    color: white;
}

#dlogo{
    width: 7%;
    margin-top: 17%;
    margin-left: 45.5%;
}

#mouseClick{
    width: 2%;
    margin-left: 50%;
    margin-top: 9.8%;
}

#welcome{
    margin-left: -3%;
    margin-top: 1.1%;
    line-height: 200%;
    font-family: "Mulish";
    font-size: 3.4vw;
    font-weight: bold;
}

#landing-text{
    font-size: 1.1vw;
    font-weight: bold;
    margin-top: -1%;
}

#about{
    line-height: 130%;
    font-size: 1.3vw;
}

#about-us{
    font-size: 2.1vw;
}

#serve{
    background-image: url("/image/keyboardbg.jpg");
    background-size: 115%;
    background-repeat: no-repeat;
    height: 30vw;
    color: white;
    line-height: 150%;
}

.my-services{
    transform: translate(-90% -90%);
    text-align: center;
    margin-top: 9.5%;
}

#serv-is{
    font-size: 2vw;
    font-weight: bold;
}

#services{
    font-size: 1.25vw;
    font-weight: bold;
}

.colum{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#what-we-do{
    font-size: 2vw;
    padding-bottom: 2%;
}

.logoPro {
   margin-right: -10%;
}

#design{
    margin-left: 7%;
    font-size: 1.3vw;
}

#develop{
    margin-left: -10%;
    font-size: 1.3vw;
}

#product{

    font-size: 1.3vw;
}

#portfolio{
    font-size: 2vw;
}

.column1 img{
    width: 21%;
    padding: 1%;
}

.column2 img{
    width: 21%;
    padding: 1%;
}

#fourth-container{
    color: white;
    background-image: url("/image/mechanicbg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vw;
}

#contact{
    font-size: 2vw;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2.5%;
}

#name{
    font-size: 1.3vw;
    font-weight: bold;
    width: 36vw;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    margin-left: 5%;  
}

#email{
    font-size: 1.3vw;
    font-weight: bold;
    width: 36vw;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    margin-left: -20%;
}

.column3{
    display: inline-flex;
    justify-content: space-evenly;
}

#textarea{
    font-size: 1.3vw;
    width: 76%;
    height: 17vw;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 1%;
    border: 1px solid white;
}

button{
    margin-left: 15%;
}

.column5 img{
    padding: 0.7%;
    width: 6%;
}

.column5 p{
    font-size: 1.3vw;
}

#hide1{
    display: none;
    text-align: center;
    font-size: 1.1vw;
}

#hide2{
    display: none;
    text-align: center;
    font-size: 1.1vw;
}

#hide3{
    display: none;
    text-align: center;
    font-size: 1.1vw;
}

#black,#security,#orange,#movies,#gday,#inputs,#fire,#restaurant{
    width: 19%;
    height: 17vw;
    padding: 2%;
    display: none;
    color: white;
    margin-left: -20%;
    margin-top: 1.2%;
    background-color: #000000a6;
    color: white;
    font-size: 1.9vw;
    text-align: left;
    font-weight: bolder;
    transform: translate(-50% -50%);
    transition: ease-in;
    transition-delay: 1s;
}

.image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .column1:hover .image {
    opacity: 0.3;
  }
  
  .column1:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }












